// 颜色替换，listi的index


$list:("1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23");
$max-width:1920px;
@for $i from 0 through 18{
  @media screen and (max-width: $max-width){
    body{
      // 颜色替换
      background-color: hsl($i+1 * 15%, 100%, 74%);
      
    }
    body::after{
      // 读取list的index
      $temp: nth($list, $i+1);
      content:"#{$temp}" ;
      line-height: 100vh;
      width:100vw;
      text-align: center;
      font-size: 50px;
      display:block;

    }
  }
  $max-width: $max-width - 50px;

}



